extends layout
block content
  include header
  #details
    #results
      if results && results.length > 0
        each result in results
          .result
            .declaration
              h3
                a(href=result.link)= result.name
              ul.signatures
                each signature in result.signatures
                  li= signature
            if result.description
              p.description= result.description
            if result.tags
              ul.tags
                each tag in result.tags
                  li= tag
            a(href=result.link).link= result.link
      else
          p.description Phrase not found
